{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ character.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ character.lastname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ character.gender }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ character.bio }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ character.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('character_index') }}">back to list</a>

    <a href="{{ path('character_edit', {'id': character.id}) }}">edit</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
