{% extends 'base.html.twig' %}

{% block title %}TvShow list | {{ parent() }} {% endblock %}

{% block body %}
    <h1>TvShow List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Synospis</th>
                <th>Image</th>
                <th>NbLikes</th>
                <th>PublishedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tv_show in tv_shows %}
            <tr>
                <td>{{ tv_show.id }}</td>
                <td>{{ tv_show.title }}</td>
                <td>{{ tv_show.synospis }}</td>
                <td>{{ tv_show.image }}</td>
                <td>{{ tv_show.nbLikes }}</td>
                <td>{{ tv_show.publishedAt ? tv_show.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tv_show.createdAt ? tv_show.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tv_show.updatedAt ? tv_show.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tv_show_show', {'id': tv_show.id}) }}">show</a>
                    <a href="{{ path('tv_show_edit', {'id': tv_show.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tv_show_new') }}">Create new</a>
{% endblock %}
